@font-face {
    font-family: VCR_OSD_MONO;
    src: url(../VCR_OSD_MONO.ttf);
}

@keyframes blinker {
    90% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideup {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-930px); /* The image width */
    }
}

@keyframes result { /* result */
    0% {
      background-color: rgb(255, 255, 255);
    }
    100% {
      background-color: rgb(14, 4, 4);
    }
}

@keyframes results-page-show { /* result */
    0% {
        transform: translate(0px, 100%);
    }
    80% {
        transform: translate(0px, 100%) rotate(-20deg);
      }
    100% {
        transform: translate(0px, -90%) rotate(4deg);
    }
}

@keyframes restart-button-show { /* result */
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
      }
    100% {
        opacity: 1;
    }
}

@keyframes fade-to-black {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes dead { /*disconnected / thing exploded / systems shutdown */
    0% {
      background-color: rgb(68, 22, 22);
    }
    100% {
      background-color: rgb(68, 22, 22);
    }
}

@keyframes reconnecting { /*disconnected / thing exploded / systems shutdown */
    0% {
      background-color: rgb(201, 19, 161);
    }
    50% {
      background-color: rgb(133, 29, 110);
    }
    100% {
        background-color: rgb(201, 19, 161);
    }
}

@keyframes flash-three { /*imminent failure*/
    0% {
      background-color: orange;
    }
    100% {
      background-color: red;
    }
}

@keyframes flash-two { /*serious issue*/
    0% {
      background-color: yellow;
    }
    100% {
      background-color: orange;
    }
}

@keyframes flash-one { /*notice level*/
    0% {
      background-color: royalblue;
    }
    50% {
        background-color:cyan;
    }
    100% {
        background-color: royalblue;
    }
}

html, body {
    overflow: hidden
}

body, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

p, h1, h3, h4 {
    color: white;
    text-shadow: 0 0 5px;
}

