html, body {
    margin: 0;
    padding: 0;
}

.loader {
    background-color: black;

    position: relative;
    width: 100%;
    height: 50vh;
}

.loader-top {
    background-color: green;
}

.loader-bottom {
    background-color: red;
}

.central {
    background-color: black;
    width: 40%;
    height: 30vh;
}
